.inner{
  margin: 20px 20px 100px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.header_left{
  color:#0000b3;
  :
}

.header_right li{
  color:#0000b3;
  display:inline;
  margin: 10px 10px;
}


.relative {
  position: relative;
  z-index: 0;
}

.aa {
  font-weight: lighter;
  font-size: 50px;
  position: absolute;
  bottom: 100px;
  transform: translateY(50px);
}

.ab {
  height: 100px;
  background-color: #0000b3;
  position: absolute;
  bottom: 0%;
  width: 75%;
  transform: translateY(50px);
  z-index: -10;
}


.relative__img {
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}